  <div class="cocktail-banner">
<div class="container">
<h1><%= @cocktail.name.capitalize %></h1>
<h2>Ingredients</h2>
  <ul>
  <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.ingredient.name %> - <%= dose.description %> </li>
  </ul>
<% end %>

<p><%= link_to "Add ingredients & doses", new_cocktail_dose_path(@cocktail) %></p>
  <p><%= link_to "ðŸ¹ Discover all cocktails", cocktails_path %></p>
</div>


