<div class="container">
  <h1><%= @cocktail.name.capitalize %></h1>
  <div class="container"><%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: 'Quantity', placeholder: 'For example: 10ml', class: 'form-control' %>
    <%= f.association :ingredient,  class: 'form-control select2' %>
    <%= f.submit "Add an ingredient", class: "btn btn-primary"%>
  <% end %>
  <%= link_to "Back to cocktail", cocktail_path(@cocktail) %>
  </div>
  </div>
</div>
